* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: #ffffff;
    color: #111111;
    line-height: 1.6;
}


.montserrat-heading {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    border-bottom: 1px solid #eeeeee;
    background-color: #f5f3eb;
}

.navbar-logo {
    width: 65px;
    height: auto;
    margin-bottom: 10px;
}

.logo svg {
    display: block;
}

.auth-buttons button {
    padding: 10px 24px;
    border-radius: 9999px;
    font-weight: 600;
    font-size: 15px;
    cursor: pointer;
    transition: all 0.2;
}

.btn-signin {
    background: transparent;
    border: 1px solid #111;
    color: #111;
}

.btn-signin:hover {
    background: #5db98f;
}

.btn-register {
    background: #111;
    color: #ffffff;
    border: none;
}

.btn-register:hover {
    background: #5db98f;
}

.hero {
    height: 500px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 30px;

    transition: background-image 0.8s ease-in-out;    
}

.hero-logo {
    width: 80%;
    height: auto;
    margin-bottom: 20px;
    max-width: 900px;
}

.brand {
    font-size: 72px;
    font-weight: 800;
    letter-spacing: -2px;
    margin-bottom: 12px;
}

.tagline {
    font-size: 22px;
    color: #0c3148;
    font-weight: 400;
    margin-bottom: 120px;
}

.gallery {
    padding: 60px 40px;
    max-width: 1200px;
    margin: 0 auto;
    background-color: #0c3148;
}

.image-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 24px;
}

.placeholder {
    background: #f1f1f1;
    aspect-ratio: 1 / 1;
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s;
}

.placeholder:hover {
    transform: scale(1.03);
}

.placeholder svg {
    opacity: 0.6;
}

.tips-section {
    max-width: 2000px;
    margin: 0 auto;
    padding: 80px 40px 120px;
    background-color: #0c3148;
    color: #f1f1f1;
}

.tips-title {
    text-align: center;
    font-size: 42px;
    font-weight: 700;
    margin-bottom: 60px;
}

.tips-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 100px;
}

.column-title {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 24px;
    color: #ffffff;
}

.tips-list {
    list-style: none;
}

.tip-list li:last-child {
    border-bottom: none;
}

@media (max-width: 768px) {
    .image-grid { grid-template-columns: repeat(2, 1fr); }
    .tips-grid { grid-template-columns: 1fr; gap: 60px; }
    .brand { font-size: 56px; }
}